<div class="space-view">
    <div class="work-space">
        <div class="search-settings">
            <div class="search-category">
                <div class="search-category-head">Загальний</div>
                <div class="search-category-body">
                    <div class="input-block">
                        <div class="input-label">ЄДРПОУ</div>
                        <textarea [(ngModel)]="queryData.edrpou.value" class="input-field" placeholder="Введіть ваш перелік ЄДРПОУ організацій"></textarea>
                    </div>
                    <div class="input-block">
                        <div class="input-label">Назва</div>
                        <textarea [(ngModel)]="queryData.name.value" class="input-field" placeholder="Введіть ваш перелік назв організацій"></textarea>
                    </div>
                </div>
            </div>

            <div class="search-category">
                <div class="search-category-head">Адміністративний</div>
                <div class="search-category-body">
                    <div class="input-block">
                        <div class="input-label">Область</div>
                        <textarea [(ngModel)]="queryData.region.value" class="input-field" placeholder="Введіть ваш перелік областей"></textarea>
                        <!-- <div class="select-field">
                            <div class="select-field-name">Додати</div>
                            <div class="select-field-icon">+</div>
                        </div> -->
                    </div>
                    <div class="input-block">
                        <div class="input-label">Місто</div>
                        <textarea [(ngModel)]="queryData.city.value" class="input-field" placeholder="Введіть ваш перелік міст"></textarea>
                    </div>
                    <div class="input-block">
                        <div class="input-label">Діяльність</div>
                        <textarea [(ngModel)]="queryData.kved.value" class="input-field" placeholder="Введіть ваш перелік дільностей"></textarea>
                    </div>
                </div>
            </div>

            <!-- <div class="search-category">
                <div class="search-category-head">Фінансовий</div>
                <div class="search-category-body">

                    <div class="input-block finance-input-block">
                        <div class="input-label">Активи</div>
                        <div class="finance-field">
                            <select class="select-input">
                                <option value="gt">Більше</option>
                                <option value="lt">Менше</option>
                            </select>
                            <input class="input-field" type="text" placeholder="Сума" autocomplete="new-password">
                        </div>
                    </div>

                    <div class="input-block finance-input-block">
                        <div class="input-label">Дебіторська заборгованість</div>
                        <div class="finance-field">
                            <select class="select-input">
                                <option value="gt">Більше</option>
                                <option value="lt">Менше</option>
                            </select>
                            <input class="input-field" type="text" placeholder="Сума" autocomplete="new-password">
                        </div>
                    </div>

                    <div class="input-block finance-input-block">
                        <div class="input-label">Власні кошти</div>
                        <div class="finance-field">
                            <select class="select-input">
                                <option value="gt">Більше</option>
                                <option value="lt">Менше</option>
                            </select>
                            <input class="input-field" type="text" placeholder="Сума" autocomplete="new-password">
                        </div>
                    </div>

                    <div class="input-block finance-input-block">
                        <div class="input-label">Поточна заборгованість</div>
                        <div class="finance-field">
                            <select class="select-input">
                                <option value="gt">Більше</option>
                                <option value="lt">Менше</option>
                            </select>
                            <input class="input-field" type="text" placeholder="Сума" autocomplete="new-password">
                        </div>
                    </div>

                    <div class="input-block finance-input-block">
                        <div class="input-label">Довгострокова заборгованість</div>
                        <div class="finance-field">
                            <select class="select-input">
                                <option value="gt">Більше</option>
                                <option value="lt">Менше</option>
                            </select>
                            <input class="input-field" type="text" placeholder="Сума" autocomplete="new-password">
                        </div>
                    </div>

                    <div class="input-block finance-input-block">
                        <div class="input-label">Доходи</div>
                        <div class="finance-field">
                            <select class="select-input">
                                <option value="gt">Більше</option>
                                <option value="lt">Менше</option>
                            </select>
                            <input class="input-field" type="text" placeholder="Сума" autocomplete="new-password">
                        </div>
                    </div>

                    <div class="input-block finance-input-block">
                        <div class="input-label">Прибуток</div>
                        <div class="finance-field">
                            <select class="select-input">
                                <option value="gt">Більше</option>
                                <option value="lt">Менше</option>
                            </select>
                            <input class="input-field" type="text" placeholder="Сума" autocomplete="new-password">
                        </div>
                    </div>

                </div>
            </div> -->
        </div>
        <div class="buttons-block">
            <div *ngIf="!onLoad" (click)="search()" class="search-button">Пошук</div>
            <div *ngIf="!onLoad" (click)="clear()" class="clear-button">Очистити</div>
            <div *ngIf="onLoad" class="load-animation"></div>
        </div>
    </div>

</div>