@import "../app.component.scss";
.space-view {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    .work-space {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        @include flex(column, flex-start, center);
        .title-head {
            @include flex(row, center, center);
            width: 100%;
            height: 80px;
            background-color: $selection-color;
            .head-labels {
                @include flex(row, space-between, center);
                width: calc(100% - 80px);
                max-width: $workspace-maxwidth;
                padding: 0px 40px;
                .logo-block {
                    @include flex(row, flex-start, center);
                    font-family: $logo-font;
                    font-size: 35px;
                    .first-word {
                        color: $main-color;
                        margin: 0px 10px;
                    }
                    .second-word {
                        color: $action-color;
                    }
                }
                .buttons-block {
                    @include flex(row, flex-start, center);
                    .register-button {
                        @include custom-button($main-color, $accept-color);
                        width: 150px;
                        margin-right: 15px;
                    }
                    .login-button {
                        @include custom-button($main-color, $action-color);
                        background-color: $action-color;
                        width: 100px;
                    }
                }
            }
        }
        .title-main {
            @include flex(row, space-between, center);
            padding: 40px;
            position: relative;
            width: calc(100% - 80px);
            max-width: $workspace-maxwidth;
            height: calc(100% - 160px);
            .switcher-button {
                @include flex(row, center, center);
                background-color: $main-color;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                box-shadow: 6px 6px 12px #c4c4c4, -6px -6px 12px #ffffff;
                color: $text-main-color;
                transition: .4s;
                cursor: pointer;
                user-select: none;
                font-family: $font-family;
                font-size: 35px;
                &:hover {
                    color: $action-color;
                }
            }
            .card-box {
                @include flex(column, space-between, center);
                width: calc(100% - 320px);
                height: calc(100% - 80px);
                padding: 40px;
                background-color: $main-color;
                border-radius: 6px;
                box-shadow: 5px 5px 20px #c4c4c4, -5px -5px 20px #ffffff;
                .card-info {
                    @include flex(column, space-evenly, center);
                    width: 100%;
                    height: calc(100% - 42px);
                    @include custom-scrollbar;
                    .first-line,
                    .second-line {
                        @include flex(row, space-between, null);
                        .text-block {
                            @include flex(column, null, null);
                            margin: 0px 20px;
                        }
                    }
                }
                .card-info-show {
                    opacity: 0;
                    animation: show .3s 1;
                    animation-fill-mode: forwards;
                }
                .card-info-hide {
                    opacity: 1;
                    animation: hide .3s 1;
                    animation-fill-mode: forwards;
                }
                .card-labels-position {
                    @include flex(row, center, center);
                    width: 100%;
                    margin-top: 30px;
                    .label-position {
                        width: 10px;
                        height: 10px;
                        border-radius: 50px;
                        border: 1px solid $selection-color;
                        margin: 0px 10px;
                        transition: .6s;
                    }
                    .selected {
                        background-color: $selection-color;
                    }
                }
            }
        }
    }
    .background-blur-template {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: #00000069;
        backdrop-filter: blur(5px);
        z-index: 20;
        transition: 0.6s;
        opacity: 0;
        animation: show 0.6s 1;
        animation-fill-mode: forwards;
        @include flex(row, center, center);
        .login-window {
            @include flex(column, null, center);
            width: 280px;
            padding: 40px 40px;
            border-radius: $box-radius;
            background-color: $background-color;
            position: relative;
            .close-icon {
                display: block;
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 20px;
                color: $action-color;
                cursor: pointer;
            }
            .input-block {
                @include flex(column, null, null);
                width: 100%;
                margin-bottom: 20px;
                .input-label {
                    width: 100%;
                    padding-bottom: 10px;
                    font-family: $font-family;
                    font-size: $title-text-size;
                    color: $selection-color-second;
                }
                .input-field {
                    @include custom-input;
                    @include custom-scrollbar;
                    width: calc(100% - 14px);
                    font-family: $font-family;
                    resize: none;
                }
            }
            .error-message {
                width: 100%;
                word-wrap: break-word;
                color: $deccept-color;
                font-size: $main-text-size;
                margin-bottom: 20px;
                font-family: $font-family;
            }
            .login-button {
                @include custom-button($text-main-color, $accept-color);
                width: calc(100% - 20px);
            }
        }
    }
}

.title-text {
    width: 300px;
    color: $action-color;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: $font-family;
}

.main-text {
    width: 300px;
    color: $text-main-color;
    font-size: $title-text-size;
    font-family: $font-family;
}