//Colors variables
$background-color: #f6f5fa; // 1b212c
$main-color: #ffffff; // 1a1a1a
$selection-color: #252ab6; //# 283851
$selection-color-second: #2c3862;
$action-color: #eb6e3d; // eb6e3d
$text-main-color: #161616;
$text-secondary-color: #b6b6b6;
$deccept-color: #d93128;
$accept-color: #7ec544;
//Font variables
$logo-font: "Alata";
$font-family: "Rubik"; //Segoe UI Rubik
$title-text-size: 20px;
$main-text-size: 18px;
$addiction-text-size: 14px;
//Size variables
$workspace-maxwidth: 1280px;
$box-radius: 6px;
//Global classes
.root-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
}

//Mixins
@mixin flex ($dir, $just, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}

@mixin custom-input {
    border: none;
    border: 2px solid $text-secondary-color;
    background: transparent !important;
    color: $text-main-color !important;
    font-size: $main-text-size !important;
    padding: 3px 5px !important;
    border-radius: $box-radius;
    transition: 0.4s;
    &:focus {
        outline: none;
        color: $text-main-color;
        border: 2px solid $action-color;
    }
}

@mixin custom-button ($text-color, $button-color) {
    @include flex(row, center, center);
    padding: 5px 10px;
    border: 2px solid $button-color;
    color: $text-color;
    font-size: 20px;
    font-family: $font-family;
    border-radius: $box-radius;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
    &:hover {
        background-color: $button-color;
    }
}

@mixin show-animation {
    opacity: 0;
    animation: show 1.0s 1;
    animation-fill-mode: forwards;
}

@mixin custom-scrollbar {
    overflow: auto;
    scrollbar-color: $selection-color-second rgba(0, 0, 0, 0.082) !important;
    scrollbar-width: thin !important;
    &::-webkit-scrollbar {
        width: 3px !important;
        height: 3px !important;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px !important;
        -webkit-box-shadow: inset 0 0 6px $selection-color-second !important;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.082) !important;
        border-radius: 10px !important;
    }
}

//Animation
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

//Other browser settings
::ng-deep * {
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $main-color inset !important;
    -webkit-text-fill-color: $text-main-color !important;
}

input {
    font-family: $font-family !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}