<div class="space-view">
    <div class="work-space">

        <div class="search-category">
            <div class="search-category-head">Адміністративний</div>
            <div class="search-category-body">
                <div class="input-block">
                    <div class="input-label">Області</div>
                    <div class="select-field">
                        <div class="select-field-name">Додати</div>
                        <div class="select-field-icon">+</div>
                    </div>
                </div>
                <div class="input-block">
                    <div class="input-label">Міста</div>
                    <div class="select-field">
                        <div class="select-field-name">Додати</div>
                        <div class="select-field-icon">+</div>
                    </div>
                </div>
                <div class="input-block">
                    <div class="input-label">Діяльність</div>
                    <div class="select-field">
                        <div class="select-field-name">Додати</div>
                        <div class="select-field-icon">+</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons-block">
            <div class="search-button">Пошук</div>
            <div class="clear-button">Очистити</div>
        </div>

    </div>
</div>